ul#countdown li {
  float: left;
  display: none;
  zoom:1;
  list-style-type: none;
}
ul#countdown{
	display: block;
}
#slide6 .content h2{
	width: 100%;
}
#slide1 .content{
	height: 900px;
}
#slide3 h2{
	font-size: 1.3em;
	border: none;
}
#slide3 .inside h3{
	font-size: 1.15em;
}